<ng-container *ngFor="let item of allItems">
  <ng-container *ngIf="editMode">
    <div class="checkbox-item">
      <label>
        <input
          type="checkbox"
          [(ngModel)]="item.checked"
          (change)="onItemChange(item)" />
        {{ getDisplayValue(item.key) }}
      </label>
      <ng-container [ngSwitch]="item.type">
        <app-editable-input
          *ngSwitchCase="'text'"
          [editMode]="true"
          [value]="getStringValue(item)"
          type="text"
          (valueChange)="onValueChange(item.key, $event)"></app-editable-input>
        <app-editable-input
          *ngSwitchCase="'number'"
          [editMode]="true"
          [value]="getNumberValue(item)"
          type="number"
          (valueChange)="onValueChange(item.key, $event)"></app-editable-input>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="!editMode && shouldDisplayItem(item)">
    <span>{{ getDisplayValue(item.key) }}</span>
    <span *ngIf="isNumberOrText(item)">&nbsp;</span>
    <ng-container [ngSwitch]="item.type">
      <app-editable-input
        [valuePipe]="displayValuePipe"
        *ngSwitchCase="'text'"
        [editMode]="false"
        [value]="getStringValue(item)"
        type="text"></app-editable-input>
      <app-editable-input
        [valuePipe]="displayValuePipe"
        *ngSwitchCase="'number'"
        [editMode]="false"
        [value]="getNumberValue(item)"
        type="number"></app-editable-input>
    </ng-container>
    <ng-container *ngIf="!isLastDisplayedItem(item)">
      <span>, </span>
    </ng-container>
  </ng-container>
</ng-container>
