app-editable-list {
  $text-color: var(--color-text);
  $background-transparent: transparent;
  $border-style: 1px solid $text-color;
  $tag-button-text-color: #1a1a1a;
  $placeholder-color: #999;

  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .use-bootstrap-tag {
    background-color: $background-transparent;
    color: $text-color;

    &.focus {
      background-color: $background-transparent;
      box-shadow: none;
      border-color: $text-color;
    }

    input[type='text'] {
      border-radius: 0;
      color: $text-color;
      width: 100%;
      max-width: none;
      text-align: start;
    }
  }

  .form-control {
    border: $border-style;
  }

  .input-hidden,
  .tag-button.hidden {
    display: none;
  }

  .tag-options-wrapper {
    margin-top: 3px;
    width: 100%;
  }

  .tag-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &::after {
      content: '';
      flex-grow: 1000;
      height: 0;
    }
  }

  .input-wrapper > span::before {
    white-space: pre;
    content: '  ADD YOUR OWN  ';
    color: $placeholder-color;
    visibility: visible;
    border: dashed 1px;
    border-radius: 3px;
  }

  .focus .input-wrapper > span::before {
    visibility: hidden;
  }

  .tag-button {
    flex-grow: 1;
    padding: 5px;
    margin: 0;
    border: none;
    color: $tag-button-text-color;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    transition:
      opacity 0.2s,
      transform 0.1s;
    @include flex-center;
    text-align: center;
    white-space: nowrap;

    &:hover {
      opacity: 0.9;
      transform: scale(1.05);
      z-index: 1;
      color: $tag-button-text-color;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
