<div *ngIf="statblock() as statblock">
  <hr class="border-top" />
  <div>
    <app-creature-heading
      [name]="statblock.name"
      [size]="statblock.size"
      [type]="statblock.type"
      [alignment]="statblock.alignment">
    </app-creature-heading>
    <app-top-stats
      [armorClass]="statblock.armor_class[0].value"
      [armorType]="statblock.armor_class[0].type"
      [hitPoints]="statblock.hit_points"
      [hitDice]="statblock.hit_dice"
      [speed]="statblock.speed">
    </app-top-stats>

    <app-abilities
      [strength]="statblock.strength"
      [dexterity]="statblock.dexterity"
      [constitution]="statblock.constitution"
      [intelligence]="statblock.intelligence"
      [wisdom]="statblock.wisdom"
      [charisma]="statblock.charisma">
    </app-abilities>

    <app-properties
      [proficiencies]="statblock.proficiencies"
      [damageImmunities]="statblock.damage_immunities"
      [conditionImmunities]="statblock.condition_immunities"
      [senses]="statblock.senses"
      [languages]="statblock.languages"
      [challengeRating]="statblock.challenge_rating"
      [xp]="statblock.xp">
    </app-properties>

    <app-special-abilities [abilities]="statblock.special_abilities">
    </app-special-abilities>
  </div>
  <div>
    <app-actions [actions]="statblock.actions"> </app-actions>
    <app-actions
      *ngIf="statblock.legendary_actions?.length"
      [actions]="statblock.legendary_actions">
    </app-actions>
  </div>
  <hr class="border-bottom" />
</div>
