app-monster-stat-block {
  .property-line {
    h4,
    p {
      display: inline;
      font-size: 1.5em;
      line-height: 1.2em;
    }

    h4 {
      color: var(--color-spec1);
    }

    p {
      margin-inline: 1em;
      font-size: 1em;
    }
  }

  .tapered-rule {
    fill: var(--color-spec2);
  }
}
