<div *ngIf="statblock() as statblock" #statblockDiv>
  <hr class="border-top" />
  <div>
    <app-creature-heading
      [editMode]="editMode"
      [(name)]="statblock.name"
      [(size)]="statblock.size"
      [(type)]="statblock.type"
      [(alignment)]="statblock.alignment">
    </app-creature-heading>
    <!-- id for refreshing editable checkbox list on statblock change -->
    <app-top-stats
      [id]="statblock.id"
      [editMode]="editMode"
      [(armorClass)]="statblock.armor_class[0].value"
      [(armorType)]="statblock.armor_class[0].type"
      [(hitPoints)]="statblock.hit_points"
      [(hitDice)]="statblock.hit_dice"
      [(speed)]="statblock.speed">
    </app-top-stats>

    <app-abilities
      [editMode]="editMode"
      [(strength)]="statblock.strength"
      [(dexterity)]="statblock.dexterity"
      [(constitution)]="statblock.constitution"
      [(intelligence)]="statblock.intelligence"
      [(wisdom)]="statblock.wisdom"
      [(charisma)]="statblock.charisma">
    </app-abilities>

    <app-properties
      [id]="statblock.id"
      [editMode]="editMode"
      [(proficiencies)]="statblock.proficiencies"
      [(damageImmunities)]="statblock.damage_immunities"
      [(damageResistances)]="statblock.damage_resistances"
      [(damageVulnerabilities)]="statblock.damage_vulnerabilities"
      [(conditionImmunities)]="statblock.condition_immunities"
      [(senses)]="statblock.senses"
      [(languages)]="statblock.languages"
      [(challengeRating)]="statblock.challenge_rating"
      [(xp)]="statblock.xp">
    </app-properties>

    <app-special-abilities
      [editMode]="editMode"
      [(abilities)]="statblock.special_abilities">
    </app-special-abilities>
  </div>
  <div>
    <app-actions [editMode]="editMode" [(actions)]="statblock.actions">
    </app-actions>
    <app-reactions [editMode]="editMode" [(reactions)]="statblock.reactions">
    </app-reactions>
    <app-legendary-actions
      [editMode]="editMode"
      [(legendaryActions)]="statblock.legendary_actions">
    </app-legendary-actions>
  </div>
  <hr />
</div>
<div *ngIf="!statblock() && activeCharacterId()" class="center-container">
  <p class="top-text">No statblock found for this character</p>

  @if (!isBattleState()) {
    <button (click)="addStatblock()" class="styled-button">
      Add Statblock Template
    </button>

    <p class="bottom-text">OR</p>

    <div class="description-container">
      <app-expandable-textbox
        [placeholder]="'Generate a statblock via AI and play with it!'"
        (submit)="generateStatblock($event)">
      </app-expandable-textbox>
    </div>

    <ng-container *ngIf="!isLoadingModels()">
      <ng-select
        #select
        class="custom model-select"
        [items]="models()"
        bindLabel="displayName"
        bindValue="name"
        placeholder="Optionally, select a model... PRO is the default."
        (change)="onSelect($event)">
      </ng-select>
    </ng-container>

    <div *ngIf="isLoadingModels()">Loading available models...</div>

    <div *ngIf="modelsError()">
      {{ 'Please check if you have provided a valid API Key in the Settings.' }}
    </div>

    <div *ngIf="isLoading()" class="loading-overlay">
      <div class="dice-spin-container">
        <div class="dice-spin">
          <app-dice-token type="d20" size="75px"></app-dice-token>
        </div>
      </div>
      <div class="loading-text">Generating statblock, please wait...</div>
    </div>
  }
</div>
