app-monster-stat-block {
    .abilities {
      > div {
        display: inline-block;
        vertical-align: middle;
        width: 16%;
        min-width: 40px;
      }
    }
  
    .property-line {
      h4, p {
        display: inline;
        font-size: 1.5em;
        line-height: 1.2em;
       
      }
      h4 {
        color: var(--color-spec1);
        
      }
  
      p {
        font-size: 1em;
        margin-inline: 1em;
      }
    }

    .tapered-rule{
        fill: var(--color-spec2);
    }
  }
  