.button-d20 {
  position: sticky;
  background-color: transparent;
  width: 6em;
  height: 6em;
  border-color: transparent;
  transition: transform 0.1s ease-in-out;
  box-shadow: none;
}

.button-d20 svg * {
  fill: none;
  stroke-width: 5;
  stroke-miterlimit: 10;
  transition: stroke 0.1s ease;
}

.button-d20 svg polygon {
  fill: var(--color-text);
}

.button-d20:active {
  box-shadow: none;
  transform: scale(0.95);
}

.button-d20[disabled],
.button-d20[disabled]:hover,
.button-d20:hover,
.button-d20:active {
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation-name: spin;
  animation-timing-function: cubic-bezier(0.7, 0.1, 0.1, 1);
}

.value-container {
  margin-top: 1em;
}

.value-container input {
  width: 3em;
  text-align: center;
  font-size: 1.2em;
  padding: 0.3em;
  border: 2px solid var(--dice-color);
  border-radius: 4px;
}

.modifier-container {
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
  }
}
