<div class="container-fluid menu">
  <div class="row justify-content-center">
    <div class="upper-box">
      <app-monster-search
        (monsterSelected)="onMonsterSelected($event)"></app-monster-search>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="or-span">OR</span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="lower-box">
      <button (click)="addDefaultCharacter()">ADD YOUR OWN</button>
    </div>
  </div>
</div>
