
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3">
        <app-character [maxHp]="100" [initiativeModifier]="2"></app-character>
        <app-character [maxHp]="100" [initiativeModifier]="2"></app-character>
      </div>
      <div class="col-6">
  
      </div>
      <div class="col-3">
      
        <app-character [maxHp]="100" [initiativeModifier]="2"></app-character>
        <app-character [maxHp]="100" [initiativeModifier]="2"></app-character>
    
      </div>
  </div>




  