<div
  class="character-card"
  [ngClass]="{ 'edit-mode': editMode, 'view-mode': !editMode }"
  #characterCard>
  <div class="row">
    <div class="col-9">
      <div class="name-section">
        <span *ngIf="name === '' && !editMode">No Name...</span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'text'"
          [(value)]="name"></app-editable-input>
      </div>

      <div class="hp-section">
        <span>HP: </span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.currentHp"></app-editable-input>
        <span> / </span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.maxHp"></app-editable-input>
      </div>

      <div class="initiative-section">
        <span>AC: </span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="armorClass"></app-editable-input>
      </div>
    </div>
    <div class="col-3">
      <div class="avatar">
        <img
          (error)="onImageError()"
          [src]="avatarSrc"
          alt="Description of image"
          class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="hp-adjustment col-6">
      <button (click)="heal()">Heal</button>
      <input type="number" [(ngModel)]="hpAdjustment" />
      <button (click)="damage()">Damage</button>
    </div>
  </div>

  <app-context-menu
    [targetElement]="characterCard"
    [menuItems]="contextMenuItems"></app-context-menu>
</div>

<app-d20
  *ngIf="isInitiativeRollView()"
  [initiativeMod]="character.initiativeModifier"
  [characterType]="character.type"
  [initiativeRoll]="character.initiativeRoll"
  (initiativeRollChange)="onInitiativeRollChange($event)"></app-d20>
