<div
  class="character-card"
  [ngClass]="{ 'edit-mode': editMode, 'view-mode': !editMode }"
  #characterCard>
  <div class="row">
    <div class="col-9">
      <div class="name-section">
        <app-editable-input
          [editMode]="editMode"
          [type]="'text'"
          [(value)]="name"></app-editable-input>
      </div>

      <div class="hp-section">
        <span>HP: </span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.currentHp"></app-editable-input>
        <span> / </span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.maxHp"></app-editable-input>
        <span> | AC:</span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.armorClass"></app-editable-input>
      </div>

      <div class="initiative-section">
        Init: {{ character.initiative + character.initiativeModifier }}
        <span> | Mod:</span>
        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.initiativeModifier"
          [useNumberSign]="true"></app-editable-input>
        <span> | Roll:</span>

        <app-editable-input
          [editMode]="editMode"
          [type]="'number'"
          [(value)]="character.initiative"></app-editable-input>
      </div>
    </div>

    <div class="col-3">
      <div class="avatar">
        <img
          src="{{ character.avatarSrc }}"
          alt="Description of image"
          class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="hp-adjustment col-6">
      <button (click)="heal()">Heal</button>
      <input type="number" [(ngModel)]="hpAdjustment" />
      <button (click)="damage()">Damage</button>
    </div>
  </div>
  <app-context-menu
    [targetElement]="characterCard"
    [menuItems]="contextMenuItems"></app-context-menu>
</div>
