$animation-duration: 2500ms;

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@keyframes pixelatedBorderRotate {
  0% {
    --angle: 90deg;
  }
  25% {
    --angle: 180deg;
  }
  50% {
    --angle: 270deg;
  }
  75% {
    --angle: 360deg;
  }
  100% {
    --angle: 450deg;
  }
}
app-character {
  --d: #{$animation-duration};
  $card-max-height: 140px;
  $card-margin: 1rem;
  $card-padding: 10px;
  $name-font-size: 1rem;
  $name-max-width: 20vw;

  .character-card {
    height: 140px;
    background: var(--color-footer);
    border: 1px solid var(--color-text);
    padding: $card-padding;
    margin-top: $card-margin;

    &.active {
      border: 2px solid;
      border-image: conic-gradient(
          from var(--angle),
          var(--color-footer),
          var(--color-spec1) 0.25turn,
          var(--color-spec1) 0.25turn,
          var(--color-footer) 0.27turn
        )
        30;
      animation: pixelatedBorderRotate var(--d) steps(16) infinite;
    }

    &.previous {
      animation: disappear 1s ease-out;
    }

    &.exhausted {
      border-color: grey;
      opacity: 0.7;
    }
  }

  .avatar {
    float: right;
    width: 120px;
    height: 100%;
  }

  .name-section {
    text-align: start;
    font-size: $name-font-size;

    input {
      text-align: start;
      max-width: $name-max-width;
    }
  }

  .damage-section {
    margin-top: 1rem;
  }

  %button-visibility {
    .edit {
      display: none;
    }
    .save {
      display: initial;
    }
  }

  .edit-mode {
    @extend %button-visibility;
  }

  .view-mode {
    .edit {
      display: initial;
    }
    .save {
      display: none;
    }
  }
}
