app-top-stats {
  .edit-mode {
    div.speed-container {
      width: 100%;
      display: table;
    }
    .checkbox-item {
      float: left;
      width: 33%;
      app-editable-input input {
        float: right;
        margin-right: 10px;
      }
      label {
        vertical-align: sub;
      }
    }
  }
  .view-mode {
    div.speed-container {
      display: inline;
      margin-inline: 1em;
    }
  }
}
