<div class="container-fluid">
  <div class="row justify-content-center">
    <div [class]="columnSizes().side">
      <h2>Allies</h2>
      <div class="character-container">
        @for (character of allies(); track character.id) {
          <app-character [character]="character"> </app-character>
        }
      </div>
      @if (!isBattleMode()) {
        <app-create-character characterType="ally"></app-create-character>
      }
    </div>

    <div [class]="columnSizes().center">
      <app-main-view></app-main-view>
    </div>

    <div [class]="columnSizes().side">
      <h2>Enemies</h2>
      <div class="character-container">
        @for (character of enemies(); track character.id) {
          <app-character [character]="character"> </app-character>
        }
      </div>
      @if (!isBattleMode()) {
        <app-create-character characterType="enemy"></app-create-character>
      }
    </div>
  </div>
</div>
