<div [ngClass]="{ 'edit-mode': editMode, 'view-mode': !editMode }">
  <div class="property-line" *ngIf="!isRecordEmpty(savingThrows)">
    <h4>Saving Throws</h4>
    <div class="saving-throw-container">
      <app-editable-checkbox-list
        [displayKeyPipe]="savingThrowFormatPipe"
        [displayValuePipe]="numberToStringPipe"
        [sessionId]="id"
        [editMode]="editMode"
        [availableOptions]="savingThrowsOptions"
        [items]="savingThrows"
        (itemsChange)="
          onSavingThrowsChange($event)
        "></app-editable-checkbox-list>
    </div>
  </div>
  <div class="property-line" *ngIf="!isRecordEmpty(skills)">
    <h4>Skills</h4>
    <div class="skills-container">
      <app-editable-checkbox-list
        [displayKeyPipe]="skillFormatPipe"
        [displayValuePipe]="numberToStringPipe"
        [sessionId]="id"
        [editMode]="editMode"
        [availableOptions]="skillsOptions"
        [items]="skills"
        (itemsChange)="onSkillsChange($event)"></app-editable-checkbox-list>
    </div>
  </div>
  <div *ngIf="damageImmunities.length" class="property-line">
    <h4>Damage Immunities</h4>
    <p>{{ getDamageImmunitiesString() }}</p>
  </div>
  <div *ngIf="conditionImmunities.length" class="property-line">
    <h4>Condition Immunities</h4>
    <!-- <p>{{ getConditionImmunitesString() }}</p> -->
  </div>
  <div class="property-line">
    <h4>Senses</h4>
    <p>{{ getSensesString() }}</p>
  </div>
  <div class="property-line">
    <h4>Languages</h4>
    <p>{{ languagesString }}</p>
  </div>
  <div class="property-line">
    <h4>Challenge</h4>
    <p>{{ challengeRating }} ({{ xp }} XP)</p>
  </div>
</div>
<app-tapered-rule></app-tapered-rule>
