<div [ngClass]="{ 'edit-mode': editMode, 'view-mode': !editMode }">
  <div class="property-line" *ngIf="!isRecordEmpty(savingThrows)">
    <h4>Saving Throws</h4>
    <div class="saving-throw-container">
      <app-editable-checkbox-list
        [displayKeyPipe]="savingThrowFormatPipe"
        [displayValuePipe]="numberToStringPipe"
        [sessionId]="id"
        [editMode]="editMode"
        [availableOptions]="savingThrowsOptions"
        [items]="savingThrows"
        (itemsChange)="
          onSavingThrowsChange($event)
        "></app-editable-checkbox-list>
    </div>
  </div>
  <div class="property-line" *ngIf="!isRecordEmpty(skills)">
    <h4>Skills</h4>
    <div class="skills-container">
      <app-editable-checkbox-list
        [displayKeyPipe]="skillFormatPipe"
        [displayValuePipe]="numberToStringPipe"
        [sessionId]="id"
        [editMode]="editMode"
        [availableOptions]="skillsOptions"
        [items]="skills"
        (itemsChange)="onSkillsChange($event)"></app-editable-checkbox-list>
    </div>
  </div>

  <div
    class="property-line damage-sources"
    *ngIf="damageImmunities.length || editMode">
    <h4>Damage Immunities</h4>
    <app-editable-list
      [tagOptions]="damageSourcesTags"
      [editMode]="editMode"
      [separator]="';'"
      [items]="damageImmunities"
      (onValueChange)="onDamageImmunitiesChange($event)"
      [allowDuplicates]="false"
      variant="primary"
      xPosition="left"
      [maxTags]="20"></app-editable-list>
  </div>

  <div
    class="property-line damage-sources"
    *ngIf="damageResistances.length || editMode">
    <h4>Damage Resistances</h4>
    <app-editable-list
      [tagOptions]="damageSourcesTags"
      [editMode]="editMode"
      [separator]="';'"
      [items]="damageResistances"
      (onValueChange)="onDamageResistancesChange($event)"
      [allowDuplicates]="false"
      variant="primary"
      xPosition="left"
      [maxTags]="20"></app-editable-list>
  </div>

  <div
    class="property-line damage-sources"
    *ngIf="damageVulnerabilities.length || editMode">
    <h4>Damage Vulnerabilities</h4>
    <app-editable-list
      [tagOptions]="damageSourcesTags"
      [editMode]="editMode"
      [separator]="';'"
      [items]="damageVulnerabilities"
      (onValueChange)="onDamageVulnerabilitiesChange($event)"
      [allowDuplicates]="false"
      variant="primary"
      xPosition="left"
      [maxTags]="20"></app-editable-list>
  </div>

  <div class="property-line" *ngIf="conditionImmunities.length || editMode">
    <h4>Condition Immunities</h4>
    <div class="condition-immunities-container">
      <app-editable-checkbox-list
        [editMode]="editMode"
        [sessionId]="id"
        [editMode]="editMode"
        [items]="conditionImmunitiesRecord"
        [availableOptions]="conditionsOptions"
        (itemsChange)="
          onConditionImmunitiesChange($event)
        "></app-editable-checkbox-list>
    </div>
  </div>
  <div class="property-line">
    <h4>Senses</h4>
    <div class="senses-container">
      <app-editable-checkbox-list
        [displayKeyPipe]="sensesFormatPipe"
        [sessionId]="id"
        [editMode]="editMode"
        [availableOptions]="sensesOptions"
        [items]="sensesItems"
        (itemsChange)="sensesChange.emit($event)">
      </app-editable-checkbox-list>
    </div>
  </div>
  <div class="property-line">
    <h4>Languages</h4>
    <div class="languages-container">
      <span *ngIf="!languages && !editMode">--</span>
      <app-editable-input
        [editMode]="editMode"
        [(value)]="languages"></app-editable-input>
    </div>
  </div>
  <div class="property-line">
    <h4>Challenge</h4>
    <div class="challenge-container">
      <app-editable-input
        [type]="'number'"
        [value]="challengeRating"
        (valueChange)="onChallengeRatingChange($event)"
        [editMode]="editMode"></app-editable-input>
      <span>&nbsp;</span>
      <app-editable-input
        [type]="'number'"
        [editMode]="editMode"
        [value]="xp"
        (valueChange)="onXpChange($event)"
        prefix="("
        suffix=")"></app-editable-input>
      <span> XP</span>
    </div>
  </div>
  <app-tapered-rule></app-tapered-rule>
</div>
