app-properties {
  .edit-mode {
    div.skills-container,
    div.saving-throw-container {
      width: 100%;
      display: table;
    }
    .checkbox-item {
      float: left;
      width: 33%;
      app-editable-input input {
        float: right;
        margin-right: 10px;
      }
    }
  }
  .view-mode {
    div.skills-container,
    div.saving-throw-container {
      display: inline;
      margin-inline: 1em;
    }
  }
}
