app-properties {
  .edit-mode {
    .damage-sources {
      margin: 1em 0;
    }
    div.languages-container {
      input {
        width: 50%;
        max-width: none;
        text-align: start;
        margin-bottom: 1em;
      }
    }

    div.senses-container,
    div.condition-immunities-container,
    div.skills-container,
    div.saving-throw-container {
      width: 100%;
      display: table;
    }
    .checkbox-item {
      float: left;
      width: 33%;
      app-editable-input input {
        float: right;
        margin-right: 10px;
      }
      label {
        vertical-align: sub;
      }
    }
  }
  .view-mode {
    div.challenge-container,
    div.languages-container,
    div.senses-container,
    div.condition-immunities-container,
    div.skills-container,
    div.saving-throw-container {
      display: inline;
      margin-inline: 1em;
    }
  }
}
