<div class="creature-heading">
  <h1>
    <span *ngIf="name === '' && !editMode">No Name...</span>
    <app-editable-input
      [editMode]="editMode"
      [type]="'text'"
      [(value)]="name"
      (valueChange)="onNameChange($event)"></app-editable-input>
  </h1>
  <h4>
    <div class="base-characteristics">
      <app-editable-select
        placeholder="Size"
        [(value)]="size"
        [editMode]="editMode"
        [items]="sizeTypes"
        (valueChange)="onSizeChange($event)">
      </app-editable-select>
      <span>&nbsp;</span>
      <app-editable-select
        placeholder="Type"
        [(value)]="type"
        [editMode]="editMode"
        [items]="monsterTypes"
        (valueChange)="onTypeChange($event)">
      </app-editable-select>
      <span>,&nbsp;</span>
      <app-editable-select
        placeholder="Alignment"
        [(value)]="alignment"
        [editMode]="editMode"
        [items]="alignmentTypes"
        (valueChange)="onAlignmentChange($event)">
      </app-editable-select>
    </div>
  </h4>
</div>
<app-tapered-rule></app-tapered-rule>
