@import 'variables';

body.theme {
  padding-bottom: 60px;
}

.theme {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
  font-size: small;

  button,
  select {
    @include theme-input;
  }

  input {
    @include theme-input;
    background: transparent;
    color: inherit;
    border: none;
    border-bottom: 1px solid currentColor;
    outline: transparent;
    max-width: 50px;
    text-align: center;

    &[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  button {
    color: var(--color-text);
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    image-rendering: pixelated;
    box-shadow:
      0 4px 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 2px var(--color-text);

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: var(--color-spec2);
      box-shadow:
        0 4px 0 0 rgba(0, 0, 0, 0.3),
        0 0 0 2px var(--color-spec2);
    }

    &:active {
      transform: translateY(2px);
      box-shadow:
        0 2px 0 0 rgba(0, 0, 0, 0.3),
        0 0 0 2px var(--color-spec2);
    }

    &:disabled,
    &.disabled {
      color: var(--color-text);
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow:
          0 4px 0 0 rgba(0, 0, 0, 0.2),
          0 0 0 2px var(--color-text);
      }
    }
  }

  .ng-select.ng-select-opened {
    .ng-value-label {
      color: #999;
    }
    input {
      color: var(--color-bg);
    }
  }
  .ng-select {
    color: var(--color-text);
    font-family: var(--font);
    font-size: 1em;

    .ng-option {
      &.ng-option-disabled {
        color: var(--color-bg);
      }

      &.ng-option-marked {
        background-color: var(--color-spec2);
        color: var(--color-text);
      }
    }

    .ng-select-container {
      background-color: var(--color-bg);
    }

    .ng-value,
    input {
      color: var(--color-text);
      max-width: none;
      text-align: left;
    }

    .ng-input {
      top: 8px !important;
    }

    .ng-clear-wrapper {
      display: none;
    }
  }
}
