$color-sage-green: #7fbc8c;
$color-medium-gray: #8c8c8c;
$color-soft-blue: #7fb3bc;
$color-soft-red: #bc7f7f;
$color-lilac: #b57fbc;
$color-muted-yellow: #bcb77f;
$color-deep-purple: #6b5b95;
$color-light-brown: #bc9f7f;
$color-mint-green: #7fbc9f;
$color-soft-magenta: #bc7fb3;
$color-pale-yellow: #bcbc7f;
$color-lavender: #9f7fbc;
$color-steel-blue: #7f95bc;

$color-bg: #1d262b;
$color-text: #fff7ed;
$color-spec1: #db59d0;
$color-spec2: #4488d6;
$font-stack: 'Courier New', Courier, 'Lucida Sans Typewriter',
  'Lucida Typewriter', monospace;

@mixin theme-input {
  font-family: $font-stack;
  font-size: 1em;
  color: $color-bg;
  border-radius: 3px;
  border: 1px solid $color-text;
  transition: all 0.2s ease;
  padding: 3px;
  &[type='number'],
  &[type='text'] {
    border-radius: 0px;
  }

  &:disabled {
    color: $color-bg;
    border: 1px solid $color-text;
    cursor: not-allowed;
    opacity: 0.3;
  }
}

:root {
  --color-bg: #{$color-bg};
  --color-text: #{$color-text};
  --color-spec1: #{$color-spec1};
  --color-spec2: #{$color-spec2};
  --font: #{$font-stack};

  --color-sage-green: #{$color-sage-green};
  --color-medium-gray: #{$color-medium-gray};
  --color-soft-blue: #{$color-soft-blue};
  --color-soft-red: #{$color-soft-red};
  --color-lilac: #{$color-lilac};
  --color-muted-yellow: #{$color-muted-yellow};
  --color-deep-purple: #{$color-deep-purple};
  --color-light-brown: #{$color-light-brown};
  --color-mint-green: #{$color-mint-green};
  --color-soft-magenta: #{$color-soft-magenta};
  --color-pale-yellow: #{$color-pale-yellow};
  --color-lavender: #{$color-lavender};
  --color-steel-blue: #{$color-steel-blue};
}
body.theme {
  padding-bottom: 60px;
}

.theme {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
  font-size: small;

  button,
  select {
    @include theme-input;
  }

  input {
    @include theme-input;
    background: transparent;
    color: inherit;
    border: none;
    border-bottom: 1px solid currentColor;
    outline: transparent;
    max-width: 50px;
    text-align: center;

    &[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  button {
    color: var(--color-text);
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: var(--color-spec2);
    }
    &:active {
      border: 1px solid var(--color-spec2);
    }

    &:disabled,
    &.disabled {
      color: var(--color-text);
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .ng-select {
    color: var(--color-text);
    font-family: var(--font);
    font-size: 1em;

    .ng-option {
      &.ng-option-disabled {
        color: var(--color-bg);
      }

      &.ng-option-marked {
        background-color: var(--color-spec2);
        color: var(--color-text);
      }
    }

    .ng-select-container {
      background-color: var(--color-bg);
    }

    .ng-value,
    input {
      color: var(--color-text);
      vertical-align: bottom;
    }

    .ng-input {
      top: 8px !important;
    }

    .ng-clear-wrapper {
      display: none;
    }
  }
}
