<div class="abilities">
  <div class="ability-strength">
    <h4>STR</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="strength"
        (valueChange)="onStrenghtChange($event)">
      </app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(strength) }})
      </ng-container>
    </p>
  </div>
  <div class="ability-dexterity">
    <h4>DEX</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="dexterity"
        (valueChange)="onDexterityChange($event)"></app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(dexterity) }})
      </ng-container>
    </p>
  </div>
  <div class="ability-constitution">
    <h4>CON</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="constitution"
        (valueChange)="onConstitutionChange($event)"></app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(constitution) }})
      </ng-container>
    </p>
  </div>
  <div class="ability-intelligence">
    <h4>INT</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="intelligence"
        (valueChange)="onIntelligenceChange($event)"></app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(intelligence) }})
      </ng-container>
    </p>
  </div>
  <div class="ability-wisdom">
    <h4>WIS</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="wisdom"
        (valueChange)="onWisdomChange($event)"></app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(wisdom) }})
      </ng-container>
    </p>
  </div>
  <div class="ability-charisma">
    <h4>CHA</h4>
    <p>
      <app-editable-input
        [editMode]="editMode"
        [type]="'number'"
        [(value)]="charisma"
        (valueChange)="onCharismaChange($event)"></app-editable-input>
      <ng-container *ngIf="!editMode">
        ({{ getModifier(charisma) }})
      </ng-container>
    </p>
  </div>
</div>
<app-tapered-rule></app-tapered-rule>
