<div class="abilities">
    <div class="ability-strength">
      <h4>STR</h4>
      <p>{{strength}} ({{getModifier(strength)}})</p>
    </div>
    <div class="ability-dexterity">
      <h4>DEX</h4>
      <p>{{dexterity}} ({{getModifier(dexterity)}})</p>
    </div>
    <div class="ability-constitution">
      <h4>CON</h4>
      <p>{{constitution}} ({{getModifier(constitution)}})</p>
    </div>
    <div class="ability-intelligence">
      <h4>INT</h4>
      <p>{{intelligence}} ({{getModifier(intelligence)}})</p>
    </div>
    <div class="ability-wisdom">
      <h4>WIS</h4>
      <p>{{wisdom}} ({{getModifier(wisdom)}})</p>
    </div>
    <div class="ability-charisma">
      <h4>CHA</h4>
      <p>{{charisma}} ({{getModifier(charisma)}})</p>
    </div>
  </div>
<app-tapered-rule></app-tapered-rule>